In [1]:
import os
import csv
import pandas as pd
import numpy as np
import datetime
import requests
import json
import random
import matplotlib.pyplot as plt
import folium

# Google developer API key
from config import api_key

ModuleNotFoundError: No module named 'config'

In [2]:
chi_crime = "Crimes_-_2019.csv"

In [3]:
df_chi_crime = pd.read_csv(chi_crime)
df_chi_crime

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,11920380,JC545207,12/13/2019 10:30:00 AM,012XX W LAKE ST,0560,ASSAULT,SIMPLE,COMMERCIAL / BUSINESS OFFICE,False,False,...,27.0,28.0,08A,1168244.0,1901587.0,2019,12/20/2019 03:52:54 PM,41.885490,-87.657631,"(41.885490312, -87.6576306)"
1,11924789,JC550523,12/12/2019 03:05:00 PM,040XX W 21ST ST,0820,THEFT,$500 AND UNDER,RESIDENTIAL YARD (FRONT/BACK),False,False,...,24.0,29.0,06,1149707.0,1889783.0,2019,12/20/2019 03:50:53 PM,41.853479,-87.726009,"(41.853479119, -87.726008976)"
2,11920741,JC545818,12/13/2019 04:30:00 PM,001XX N STATE ST,0860,THEFT,RETAIL THEFT,DEPARTMENT STORE,False,False,...,42.0,32.0,06,1176338.0,1901346.0,2019,12/20/2019 03:52:54 PM,41.884650,-87.627915,"(41.884650262, -87.627915459)"
3,11926589,JC553116,11/29/2019 10:00:00 AM,089XX S EXCHANGE AVE,0460,BATTERY,SIMPLE,RESIDENCE,False,False,...,10.0,46.0,08B,NaN,NaN,2019,12/20/2019 03:52:54 PM,NaN,NaN,NaN
4,11921007,JC546097,12/13/2019 04:00:00 PM,032XX N NEWLAND AVE,0610,BURGLARY,FORCIBLE ENTRY,APARTMENT,False,False,...,36.0,17.0,05,1129515.0,1920654.0,2019,12/20/2019 03:52:54 PM,41.938561,-87.799417,"(41.938561417, -87.799417032)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245437,24551,JC271105,05/20/2019 06:07:00 PM,078XX S STATE ST,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,False,...,6.0,69.0,01A,1177650.0,1852817.0,2019,05/27/2019 04:12:56 PM,41.751453,-87.624568,"(41.751452878, -87.624567581)"
245438,24554,JC274572,05/23/2019 01:00:00 AM,069XX S MAPLEWOOD AVE,0110,HOMICIDE,FIRST DEGREE MURDER,PORCH,False,False,...,17.0,66.0,01A,1160573.0,1858532.0,2019,05/30/2019 04:12:42 PM,41.767505,-87.686989,"(41.767504682, -87.686989416)"
245439,24556,JC276141,05/24/2019 02:12:00 AM,013XX W 61ST ST,0110,HOMICIDE,FIRST DEGREE MURDER,GARAGE,False,False,...,16.0,67.0,01A,1168477.0,1864312.0,2019,05/31/2019 04:09:56 PM,41.783199,-87.657851,"(41.783199083, -87.657851361)"
245440,24557,JC278422,05/25/2019 07:01:00 PM,001XX W 109TH PL,0110,HOMICIDE,FIRST DEGREE MURDER,GANGWAY,False,False,...,34.0,49.0,01A,1177313.0,1832344.0,2019,06/01/2019 04:04:59 PM,41.695280,-87.626419,"(41.695279885, -87.626418591)"
245441,24558,JC278685,05/25/2019 11:43:00 PM,004XX W 77TH ST,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,False,False,...,17.0,69.0,01A,1174853.0,1853877.0,2019,06/01/2019 04:04:59 PM,41.754424,-87.634786,"(41.754424418, -87.634785654)"

In [4]:
chi_crime_df=df_chi_crime.drop(columns = ['ID','Case Number','Block','IUCR','Location Description',
                             'Domestic','Beat','District','Ward','Community Area','FBI Code','X Coordinate',
                            'Y Coordinate','Updated On','Location','Year'])
chi_crime_df.sort_values(by='Date',ascending=False)

,Date,Primary Type,Description,Arrest,Latitude,Longitude
538,12/13/2019 12:58:00 AM,WEAPONS VIOLATION,UNLAWFUL POSS OF HANDGUN,False,41.735178,-87.667917
758,12/13/2019 12:52:00 PM,CRIMINAL TRESPASS,TO STATE SUP LAND,True,41.999272,-87.660666
422,12/13/2019 12:50:00 PM,ASSAULT,AGGRAVATED: OTHER FIREARM,False,41.844263,-87.723799
465,12/13/2019 12:50:00 PM,THEFT,RETAIL THEFT,False,41.925077,-87.673856
49,12/13/2019 12:49:00 PM,THEFT,FROM BUILDING,False,41.999691,-87.688718
...,...,...,...,...,...,...
160551,01/01/2019 01:00:00 AM,THEFT,FROM BUILDING,False,41.893677,-87.631177
156136,01/01/2019 01:00:00 AM,CRIMINAL DAMAGE,TO PROPERTY,False,41.879337,-87.758302
160076,01/01/2019 01:00:00 AM,THEFT,FROM BUILDING,False,41.916147,-87.686374
156529,01/01/2019 01:00:00 AM,THEFT,OVER $500,False,41.949460,-87.651974
156812,01/01/2019 01:00:00 AM,THEFT,FROM BUILDING,False,41.922751,-87.644994

San_Fran Dataset

In [2]:
san_fran = "Police_Department_Incident_Reports__2018_to_Present.csv"

In [3]:
df_san_fran_crime = pd.read_csv(san_fran)
df_san_fran_crime.head(1)

,Incident Datetime,Incident Date,Incident Time,Incident Year,Incident Day of Week,Report Datetime,Row ID,Incident ID,Incident Number,CAD Number,...,Longitude,point,SF Find Neighborhoods,Current Police Districts,Current Supervisor Districts,Analysis Neighborhoods,HSOC Zones as of 2018-06-05,OWED Public Spaces,Central Market/Tenderloin Boundary Polygon - Updated,Parks Alliance CPSI (27+TL sites)
0,2018/07/18 01:30:00 PM,2018/07/18,13:30,2018,Wednesday,2018/07/18 01:31:00 PM,69250964070,692509,180536729,182001522.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

time of occurance

In [6]:
#time of occurance
day_series=df_san_fran_crime["Incident Day of Week"].value_counts()
day_df=day_series.to_frame(name='day')
day_df.sort_values(["day"], ascending=False)
day_df

             day
Friday     34208
Wednesday  33035
Saturday   32126
Thursday   31778
Tuesday    31756
Monday     31719
Sunday     29336

time of occurance

In [7]:
#time of occurance
time_series=df_san_fran_crime["Incident Datetime"]
datetime=pd.to_datetime(time_series.head())
datetime_df=datetime.to_frame(name="time")
datetime_df_date = pd.to_datetime(datetime_df['time']).dt.date
datetime_df_time = pd.to_datetime(datetime_df['time']).dt.time


datetime_df_formatted=pd.concat([datetime_df_date, datetime_df_time], axis=1)


cols = []
count = 1
for column in datetime_df_formatted.columns:
    if column == 'time':
        cols.append(f'time_{count}')
        count+=1
        continue
    cols.append(column)
datetime_df_formatted.columns = cols
datetime_df_formatted

datetime_df_formatted = datetime_df_formatted.rename(columns={'time_1': 'date', 'time_2': 'time'})
datetime_df_formatted

         date      time
0  2018-07-18  13:30:00
1  2019-04-08  05:25:00
2  2019-06-05  14:00:00
3  2019-04-16  20:20:00
4  2019-06-10  11:00:00

month of occurance

In [9]:
#month of occurance
time_series=df_san_fran_crime["Incident Datetime"]
datetime=pd.to_datetime(time_series)
datetime_df=datetime.to_frame(name="time")
datetime_df_date = pd.to_datetime(datetime_df['time']).dt.month
month_df=datetime_df_date.to_frame(name="month")
month_df["month"].value_counts()

1     25288
5     25096
3     24342
4     24282
6     23433
2     22834
7     14109
8     13930
10    13320
9     12874
12    12385
11    12065
Name: month, dtype: int64

hours of occurance

In [ ]:
#hours of occurance
time_series=df_san_fran_crime["Incident Datetime"]
datetime=pd.to_datetime(time_series)
datetime_df=datetime.to_frame(name="time")
datetime_df_date = pd.to_datetime(datetime_df['time']).dt.hour
hour_df=datetime_df_date.to_frame(name="hour")
hour_df.columns


bins = [0, 6, 12, 18, 24]
labels= ['Night','Morning','Afternoon','Evening']
hour_df["hour"] = pd.cut(hour_df["hour"], bins, labels=labels)
hour_df["hour"].value_counts()

most crimes happended on a given date

In [ ]:
datetime_df_formatted["date"].value_counts()

In [ ]:
#time of occurance
df_san_fran_crime["Incident Date"].value_counts()

In [ ]:
#type of crime
df_san_fran_crime["Incident Category"].value_counts()

In [15]:
#Resolution status
df_san_fran_crime["Resolution"].value_counts()

Open or Active             168496
Cite or Arrest Adult        51579
Unfounded                    1672
Cite or Arrest Juvenile      1559
Exceptional Adult             579
Exceptional Juvenile           73
Name: Resolution, dtype: int64

In [16]:
#location of crime
df_san_fran_crime["Police District"].value_counts()

Central       35705
Mission       30464
Northern      28733
Southern      28647
Tenderloin    22657
Bayview       18055
Ingleside     15837
Taraval       15139
Richmond      12457
Park          10379
Out of SF      5885
Name: Police District, dtype: int64

In [4]:
df_sanfran_crime=df_san_fran_crime.drop(columns = ['Incident Datetime','Incident Date','Incident Time',
                           'Incident Year','Incident Day of Week','Row ID','Incident ID',
                           'CAD Number','Report Type Code','Report Type Description',
                           'Filed Online','Incident Code','Intersection','CNN','Police District',
                           'Analysis Neighborhood','Supervisor District','point','SF Find Neighborhoods',
                           'Current Police Districts','Current Supervisor Districts','Analysis Neighborhoods',
                           'HSOC Zones as of 2018-06-05','OWED Public Spaces','Central Market/Tenderloin Boundary Polygon - Updated',
                           'Parks Alliance CPSI (27+TL sites)','Incident Subcategory','Incident Number'])
df_sanfran_crime.sort_values(by='Report Datetime',ascending=True )

,Report Datetime,Incident Category,Incident Description,Resolution,Latitude,Longitude
54201,2018/01/01 01:00:00 PM,Motor Vehicle Theft,"Vehicle, Stolen, Auto",Open or Active,37.797865,-122.406668
63228,2018/01/01 01:14:00 PM,Assault,"Battery, Sexual",Cite or Arrest Juvenile,37.793230,-122.393181
61889,2018/01/01 01:16:00 PM,Other Miscellaneous,"Driving, License Suspended or Revoked",Cite or Arrest Adult,37.766674,-122.419825
52411,2018/01/01 01:16:00 PM,Traffic Violation Arrest,Traffic Violation Arrest,Cite or Arrest Adult,37.766674,-122.419825
38224,2018/01/01 01:20:00 PM,Larceny Theft,"Theft, From Locked Vehicle, >$950",Open or Active,37.805160,-122.447287
...,...,...,...,...,...,...
26822,2019/07/01 12:49:00 PM,Courtesy Report,Courtesy Report,Open or Active,37.784560,-122.407337
27358,2019/07/01 12:51:00 AM,Assault,Battery,Open or Active,37.760889,-122.435001
26859,2019/07/01 12:51:00 AM,Assault,"Assault, Aggravated, W/ Other Weapon",Open or Active,37.760889,-122.435001
26873,2019/07/01 12:55:00 PM,Other,"Death Report, Cause Unknown",Open or Active,37.783724,-122.414242
26782,2019/07/01 12:57:00 PM,Warrant,"Warrant Arrest, Local SF Warrant",Cite or Arrest Adult,37.765548,-122.411455

In [18]:
df_sanfran_crime_drop=df_sanfran_crime.dropna()
locations = df_sanfran_crime_drop[['Latitude', 'Longitude']]
locationlist = locations.values.tolist()
len(locationlist)
locationlist[5]

[37.770964424752826, -122.43190432509802]

In [19]:
map = folium.Map(location=[38.9, -77.05], zoom_start=12)
for point in range(0, len(locationlist)):
    folium.Marker(locationlist[point], popup=df_sanfran_crime_drop['Incident Category'][point]).add_to(map)
map

KeyError: 0

In [8]:
df_sanfran_crime = df_sanfran_crime.rename ( columns = {"Report Datetime": "Date"})
df_sanfran_crime

,Date,Incident Category,Incident Description,Resolution,Latitude,Longitude
0,2018/07/18 01:31:00 PM,Suspicious Occ,Suspicious Occurrence,Unfounded,NaN,NaN
1,2019/04/13 01:34:00 PM,Lost Property,Lost Property,Open or Active,NaN,NaN
2,2019/06/05 02:30:00 PM,Non-Criminal,Found Property,Open or Active,37.782685,-122.422464
3,2019/04/17 12:21:00 AM,Larceny Theft,"Theft, From Locked Vehicle, >$950",Open or Active,NaN,NaN
4,2019/06/10 11:00:00 AM,Non-Criminal,Found Property,Open or Active,37.779091,-122.464145
...,...,...,...,...,...,...
223953,2019/03/25 12:57:00 AM,Other Miscellaneous,Conspiracy,Cite or Arrest Adult,37.735854,-122.432535
223954,2019/01/28 10:24:00 AM,Suicide,Suicide,Open or Active,37.782685,-122.422464
223955,2019/03/14 01:01:00 AM,Burglary,"Burglary, Apartment House, Unlawful Entry",Open or Active,37.785582,-122.414617
223956,2019/03/26 01:46:00 PM,Other Miscellaneous,Investigative Detention,Cite or Arrest Adult,37.770470,-122.443312
223957,2019/02/05 08:37:00 PM,Larceny Theft,"Theft, Shoplifting, $50-$200",Cite or Arrest Adult,37.786410,-122.408036

In [9]:
frames = [chi_crime_df,df_sanfran_crime]

In [23]:
merge_1 = pd.concat(frames, join='outer', sort = True)
merge_1
#Look at the data and see if we should renanme Arrest Col and Resolution to one name
#Look at the data and see if se should rename the Primary Type and Incdicent Category to one name 
#Look at the data and see if we should rename the Description and Incident Description	to one name 
#This will help analyze for analyzation

,Arrest,Date,Description,Incident Category,Incident Description,Latitude,Longitude,Primary Type,Resolution
0,False,12/13/2019 10:30:00 AM,SIMPLE,NaN,NaN,41.885490,-87.657631,ASSAULT,NaN
1,False,12/12/2019 03:05:00 PM,$500 AND UNDER,NaN,NaN,41.853479,-87.726009,THEFT,NaN
2,False,12/13/2019 04:30:00 PM,RETAIL THEFT,NaN,NaN,41.884650,-87.627915,THEFT,NaN
3,False,11/29/2019 10:00:00 AM,SIMPLE,NaN,NaN,NaN,NaN,BATTERY,NaN
4,False,12/13/2019 04:00:00 PM,FORCIBLE ENTRY,NaN,NaN,41.938561,-87.799417,BURGLARY,NaN
...,...,...,...,...,...,...,...,...,...
223953,NaN,2019/03/25 12:57:00 AM,NaN,Other Miscellaneous,Conspiracy,37.735854,-122.432535,NaN,Cite or Arrest Adult
223954,NaN,2019/01/28 10:24:00 AM,NaN,Suicide,Suicide,37.782685,-122.422464,NaN,Open or Active
223955,NaN,2019/03/14 01:01:00 AM,NaN,Burglary,"Burglary, Apartment House, Unlawful Entry",37.785582,-122.414617,NaN,Open or Active
223956,NaN,2019/03/26 01:46:00 PM,NaN,Other Miscellaneous,Investigative Detention,37.770470,-122.443312,NaN,Cite or Arrest Adult
223957,NaN,2019/02/05 08:37:00 PM,NaN,Larceny Theft,"Theft, Shoplifting, $50-$200",37.786410,-122.408036,NaN,Cite or Arrest Adult

In [15]:
new_york = 'NYPD_Complaint_Data_Current__Year_To_Date_.csv'
new_york_crime = pd.read_csv(new_york)

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (34) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [16]:
df_new_york_crime=new_york_crime.drop(columns=['CMPLNT_NUM','ADDR_PCT_CD','BORO_NM','CMPLNT_FR_DT','CMPLNT_TO_TM',
                               'ADDR_PCT_CD','CMPLNT_FR_TM','CMPLNT_TO_DT','CMPLNT_TO_TM',
                               'CRM_ATPT_CPTD_CD','HADEVELOPT','Lat_Lon','Y_COORD_CD','X_COORD_CD',
                               'VIC_SEX','VIC_RACE','VIC_AGE_GROUP','TRANSIT_DISTRICT','SUSP_SEX',
                                'HOUSING_PSA','JURISDICTION_CODE','JURIS_DESC','STATION_NAME',
                               'SUSP_RACE','SUSP_AGE_GROUP','PD_CD','PATROL_BORO','PARKS_NM','KY_CD',
                               'PREM_TYP_DESC','LOC_OF_OCCUR_DESC'])
df_new_york_crime.sort_values(by='RPT_DT',ascending=True)

,LAW_CAT_CD,OFNS_DESC,PD_DESC,RPT_DT,Latitude,Longitude
347073,MISDEMEANOR,PETIT LARCENY,"LARCENY,PETIT FROM STORE-SHOPL",01/01/2019,40.631257,-73.945996
338811,FELONY,ROBBERY,"ROBBERY,BEGIN AS SHOPLIFTING",01/01/2019,40.903794,-73.850099
344870,FELONY,MISCELLANEOUS PENAL LAW,CRIMINAL CONTEMPT 1,01/01/2019,40.741605,-73.854065
343521,MISDEMEANOR,ASSAULT 3 & RELATED OFFENSES,ASSAULT 3,01/01/2019,40.678652,-73.816412
341078,MISDEMEANOR,DANGEROUS DRUGS,"MARIJUANA, POSSESSION 4 & 5",01/01/2019,40.677529,-73.910815
...,...,...,...,...,...,...
6196,MISDEMEANOR,CRIMINAL MISCHIEF & RELATED OF,"MISCHIEF, CRIMINAL 4, OF MOTOR",09/30/2019,NaN,NaN
6195,FELONY,GRAND LARCENY,"LARCENY,GRAND BY OPEN/COMPROMISE CELL PHONE ACCT",09/30/2019,NaN,NaN
6177,MISDEMEANOR,OFFENSES AGAINST PUBLIC ADMINI,"CONTEMPT,CRIMINAL",09/30/2019,NaN,NaN
2038,FELONY,FELONY ASSAULT,"ASSAULT 2,1,UNCLASSIFIED",09/30/2019,NaN,NaN
0,VIOLATION,HARRASSMENT 2,"HARASSMENT,SUBD 3,4,5",09/30/2019,NaN,NaN

In [18]:
df_new_york_crime = df_new_york_crime.rename ( columns = {"RPT_DT": "Date"})
df_new_york_crime

,LAW_CAT_CD,OFNS_DESC,PD_DESC,Date,Latitude,Longitude
0,VIOLATION,HARRASSMENT 2,"HARASSMENT,SUBD 3,4,5",09/30/2019,NaN,NaN
1,FELONY,ARSON,"ARSON 2,3,4",09/30/2019,NaN,NaN
2,MISDEMEANOR,SEX CRIMES,"SEXUAL ABUSE 3,2",09/30/2019,NaN,NaN
3,FELONY,RAPE,RAPE 1,09/30/2019,NaN,NaN
4,FELONY,GRAND LARCENY,"LARCENY,GRAND OF BICYCLE",09/30/2019,NaN,NaN
...,...,...,...,...,...,...
347069,MISDEMEANOR,ASSAULT 3 & RELATED OFFENSES,"MENACING,UNCLASSIFIED",01/01/2019,40.656524,-73.916361
347070,FELONY,MISCELLANEOUS PENAL LAW,RECKLESS ENDANGERMENT 1,01/01/2019,40.848020,-73.884353
347071,MISDEMEANOR,PETIT LARCENY,"LARCENY,PETIT FROM STORE-SHOPL",01/01/2019,40.692435,-73.951976
347072,MISDEMEANOR,PETIT LARCENY,"LARCENY,PETIT FROM STORE-SHOPL",01/01/2019,40.698677,-73.830249
347073,MISDEMEANOR,PETIT LARCENY,"LARCENY,PETIT FROM STORE-SHOPL",01/01/2019,40.631257,-73.945996

In [2]:
boston_crime = 'tmpdlonfvds.csv'
boston_crime_df = pd.read_csv(boston_crime)
boston_crime_df

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I192082859,724,Auto Theft,AUTO THEFT,E18,519,NaN,2019-10-13 09:28:24,2019,10,Sunday,9,Part One,LINCOLN ST,42.259518,-71.121563,"(42.25951765, -71.12156299)"
1,I192082751,724,Auto Theft,AUTO THEFT,E18,493,NaN,2019-10-12 20:11:26,2019,10,Saturday,20,Part One,METROPOLITAN AVE,42.262092,-71.116710,"(42.26209214, -71.11670964)"
2,I192082680,727,Auto Theft,AUTO THEFT - LEASED/RENTED VEHICLE,D14,794,NaN,2019-10-12 15:12:43,2019,10,Saturday,15,Part One,ALLSTON ST,42.352375,-71.135096,"(42.35237455, -71.13509584)"
3,I192082577,724,Auto Theft,AUTO THEFT,D4,130,NaN,2019-10-12 04:41:52,2019,10,Saturday,4,Part One,SAINT JAMES AVE,42.349476,-71.076402,"(42.34947586, -71.07640150)"
4,I192079582,727,Auto Theft,AUTO THEFT - LEASED/RENTED VEHICLE,A15,47,NaN,2019-10-02 08:08:49,2019,10,Wednesday,8,Part One,N MEAD ST,42.381846,-71.066551,"(42.38184582, -71.06655134)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426835,I020691165-00,3125,Warrant Arrests,WARRANT ARREST,A1,77,NaN,2019-05-23 08:00:00,2019,5,Thursday,8,Part Three,NEW SUDBURY ST,42.361839,-71.059765,"(42.36183857, -71.05976489)"
426836,I020674147-00,3125,Warrant Arrests,WARRANT ARREST,A1,77,NaN,2019-05-23 08:00:00,2019,5,Thursday,8,Part Three,NEW SUDBURY ST,42.361839,-71.059765,"(42.36183857, -71.05976489)"
426837,I020669075-00,3125,Warrant Arrests,WARRANT ARREST,A1,77,NaN,2019-05-23 08:00:00,2019,5,Thursday,8,Part Three,NEW SUDBURY ST,42.361839,-71.059765,"(42.36183857, -71.05976489)"
426838,I020662996-00,3125,Warrant Arrests,WARRANT ARREST,A1,77,NaN,2019-05-23 08:56:00,2019,5,Thursday,8,Part Three,NEW SUDBURY ST,42.361839,-71.059765,"(42.36183857, -71.05976489)"
426839,I010370257-00,3125,Warrant Arrests,WARRANT ARREST,E13,569,NaN,2016-05-31 19:35:00,2016,5,Tuesday,19,Part Three,NEW WASHINGTON ST,42.302333,-71.111565,"(42.30233307, -71.11156487)"

In [3]:
#time of occurance
day_series=boston_crime_df["DAY_OF_WEEK"].value_counts()
day_df=day_series.to_frame(name='day')
day_df.sort_values(["day"], ascending=False)
day_df

             day
Friday     65051
Wednesday  62714
Thursday   62356
Tuesday    61817
Monday     61000
Saturday   60129
Sunday     53773

In [4]:
#month of occurance
month_series=boston_crime_df["MONTH"].value_counts()
month_df=month_series.to_frame(name='month')
month_df.sort_values(["month"], ascending=False)
month_df

    month
8   44732
7   43853
9   42586
6   39293
5   35098
10  34291
3   32093
4   31867
1   31549
11  31460
12  31323
2   28695

In [8]:
#hour of occurance
bins = [0, 6, 12, 18, 24]
labels= ['Night','Morning','Afternoon','Evening']
boston_crime_df["HOUR_bined"] = pd.cut(boston_crime_df["HOUR"], bins, labels=labels)
boston_crime_df["HOUR_bined"].value_counts()
boston_crime_df.head()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location,HOUR_bined
0,I192082859,724,Auto Theft,AUTO THEFT,E18,519,NaN,2019-10-13 09:28:24,2019,10,Sunday,9,Part One,LINCOLN ST,42.259518,-71.121563,"(42.25951765, -71.12156299)",Morning
1,I192082751,724,Auto Theft,AUTO THEFT,E18,493,NaN,2019-10-12 20:11:26,2019,10,Saturday,20,Part One,METROPOLITAN AVE,42.262092,-71.116710,"(42.26209214, -71.11670964)",Evening
2,I192082680,727,Auto Theft,AUTO THEFT - LEASED/RENTED VEHICLE,D14,794,NaN,2019-10-12 15:12:43,2019,10,Saturday,15,Part One,ALLSTON ST,42.352375,-71.135096,"(42.35237455, -71.13509584)",Afternoon
3,I192082577,724,Auto Theft,AUTO THEFT,D4,130,NaN,2019-10-12 04:41:52,2019,10,Saturday,4,Part One,SAINT JAMES AVE,42.349476,-71.076402,"(42.34947586, -71.07640150)",Night
4,I192079582,727,Auto Theft,AUTO THEFT - LEASED/RENTED VEHICLE,A15,47,NaN,2019-10-02 08:08:49,2019,10,Wednesday,8,Part One,N MEAD ST,42.381846,-71.066551,"(42.38184582, -71.06655134)",Morning

In [21]:
boston_crime_df["OFFENSE_CODE_GROUP"].value_counts()

Motor Vehicle Accident Response              49603
Larceny                                      34750
Medical Assistance                           32741
Investigate Person                           24755
Other                                        24050
                                             ...
Gambling                                         8
Burglary - No Property Taken                     5
INVESTIGATE PERSON                               5
HUMAN TRAFFICKING - INVOLUNTARY SERVITUDE        4
Biological Threat                                3
Name: OFFENSE_CODE_GROUP, Length: 67, dtype: int64

In [71]:
df_boston_crime = boston_crime_df.drop(columns=['INCIDENT_NUMBER','OFFENSE_CODE','DISTRICT',
                                              'REPORTING_AREA', 'SHOOTING','YEAR','DAY_OF_WEEK',
                                       'HOUR','UCR_PART','STREET','Location'])                                             
df_boston_crime.sort_values(by='OCCURRED_ON_DATE', ascending=True )

,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,OCCURRED_ON_DATE,MONTH,Lat,Long
236233,Harassment,HARASSMENT,2015-06-15 00:00:00,6,42.291093,-71.065945
410536,Fraud,FRAUD - FALSE PRETENSE / SCHEME,2015-06-15 00:00:00,6,42.360205,-71.056208
425993,Property Lost,PROPERTY - LOST,2015-06-15 00:00:00,6,42.328663,-71.085634
422254,Confidence Games,FRAUD - CREDIT CARD / ATM FRAUD,2015-06-15 00:00:00,6,42.300217,-71.080979
114964,Property Lost,PROPERTY - LOST,2015-06-15 00:00:00,6,-1.000000,-1.000000
...,...,...,...,...,...,...
4,Auto Theft,AUTO THEFT - LEASED/RENTED VEHICLE,2019-10-02 08:08:49,10,42.381846,-71.066551
3,Auto Theft,AUTO THEFT,2019-10-12 04:41:52,10,42.349476,-71.076402
2,Auto Theft,AUTO THEFT - LEASED/RENTED VEHICLE,2019-10-12 15:12:43,10,42.352375,-71.135096
1,Auto Theft,AUTO THEFT,2019-10-12 20:11:26,10,42.262092,-71.116710
0,Auto Theft,AUTO THEFT,2019-10-13 09:28:24,10,42.259518,-71.121563

In [ ]:
merge_table_1 = pd.merge(info_pd, items_pd, on="customer_id")
merge_table_1